/* License */
/* Copyright 2020 Katerina Limpitsouni
All images, assets and vectors published on unDraw can be used for free. 
You can use them for noncommercial and commercial purposes. 
You do not need to ask permission from or provide credit to the creator or unDraw.
More precisely, unDraw grants you an nonexclusive, worldwide copyright license to 
download, copy, modify, distribute, perform, and use the assets provided from unDraw for free, 
including for commercial purposes, without permission from or attributing the creator or unDraw. 
This license does not include the right to compile assets, vectors or images from unDraw to 
replicate a similar or competing service, in any form or distribute the assets in packs or otherwise. 
This extends to automated and non-automated ways to link, embed, scrape, search or download the assets 
included on the website without our consent. */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    /* height: 100vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
button{
    position: relative;
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-top: 30px;
    justify-content: center;
    right: 0;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    text-transform: uppercase;
    background-color: rgb(141, 80, 182);
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Navigation Bar */
nav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 70px;
    width: inherit;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.nav-link{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    background-color: white;
    width: 100%;
}

.nav-link:hover{
    cursor: pointer;
    color: rgb(141, 80, 182);
}

.brand-name{
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    font-size: 30px;
}

.advisor{
    color: rgb(141, 80, 182);
}

.dropdown{
    float: right;
    right: 10px;
    position: fixed;
}

/* Login Container */
.login-container{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 60px;
}

.profile-avi{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 95px;
    align-items: center;
}

.logo{
    width: 50px;
    display: inline-block;
    margin-left: 20px;
}

#welcome{
    font-size: 2.9rem;
    margin: 15px 0;
    color: #333;
    margin-top: 50px;
}

form{
    width: 360px;
    margin-left: 60px;
}

/* Sign-in Button */
#sign-in{
    position: relative;
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 30px;
    justify-content: center;
    right: 0;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    text-transform: uppercase;
    background-color: rgb(141, 80, 182);
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#sign-in:hover{
    cursor: pointer;
    opacity: 0.5;
}

/* Sign-up Button */
.sign-up{
    position: relative;
    justify-content: center;
    right: 0;
    align-self: center;
}

i{
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}

.input-field.focus i{
    color: rgb(141, 80, 182);
}

/* Design Container */

.img-overlay{
    width: 420px;
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
}

.wave{
    position: fixed;
    height: 100%;
    width: 60%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* Adjusts Content for Screen Size */

@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    .login-container h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img-overlay{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }

    .img-overlay{
        display: none;
    }

    .wave{
        display: none;
    }
    
    .logo{
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    form{
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .login-container{
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
}