/* Navigation */
nav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 70px;
    width: inherit;
}

/* Overall Display */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

/* Welcome Section ("Welcome to your Style Advisor") */

body{
       font-family: 'Poppins', sans-serif;
}

#welcome{
    display: inline-block;

}

#welcome hr {
    width: auto;
    border: 0.7px rgb(141, 80, 182);
    margin-bottom: 40px;
    overflow: hidden;

}

#welcome p{
    margin-top: 100px;
}

#welcome h1{
    color: rgb(141, 80, 182);
}

#welcome h4{
    color: rgb(141, 80, 182);
}

/* View Recommended Products */
.horizontal-slider{
    max-height: 300px;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    max-width: 500px;
}

.horizontal-slider .row{
    /* row */
}

.product{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(141, 80, 182);
    position: relative;
    width: 150px;
    height: auto;
    text-align: center;
    display: inline;

}

.product:hover{
    cursor: pointer;
}

.product img{
    width: 100%;
    height: auto;
}

/* Profile */

.profile {
    max-width: 450px;
    height: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color:white;
    border-bottom: none;
}

.profile_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
    margin-top: 50px;
}

.profile_name{
    text-align: center;
}

.profile_title{
    text-align: center;
}

#upload{
    margin-top: 40px;
}
button {
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    text-transform: uppercase;
    background-color: rgb(141, 80, 182);
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 1;
    height: 35px;
    float: right;
}
* Navigation Bar */
nav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 70px;
    width: inherit;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.nav-link{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    background-color: white;
    width: 100%;
}

.nav-link:hover{
    cursor: pointer;
    color: rgb(141, 80, 182);
}

.brand-name{
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    font-size: 30px;
}

.advisor{
    color: rgb(141, 80, 182);
}

.dropdown{
    float: right;
    right: 10px;
    position: fixed;
}

/* Login Container */
.login-container{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 60px;
}
